/* This is an additional stylesheet for the Financial Calculations site*/

/* Hide Success and Danger Msg Elements on page load */
.hidden {
  display: none;
}

/* Stylesheet code from the Bootstrap Jumbotron template */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Color and bottom padding change for the Jumbotron section */

.jumbotron {
  padding: 2rem 1rem 1rem;
  margin-bottom: 2rem;
  background-color: #DCD0E5;
  border-radius: 0.3rem;
}

/* Formatting for the Header */

header {
  text-align: center;
}

body {
  background-color: lavender;
  height: 100%;
  background-image: radial-gradient(white, lavender, #DCD0E5);
}

/* Formatting for the Footer */

footer {
  clear: left;
  border-top: thin solid purple;
  text-align: right;
}

/* Fix links so that they are underlined when one hovers over them */

.nav-link:hover,
.nav-link:focus {
  text-decoration: underline;
}

/* Change button color */

.btn-purple {
  color: #fff;
  background-color: purple;
  border-color: rgb(119, 2, 119);
}

.btn-margin {
  margin: auto;
  display: inline;
}

/* Change the background stripe color for the Shopping Cart table */

tr:nth-child(even) {
  background-color: #DCD0E5;
}

/* Extra-Small devices (landscape phones, 576px and down) */

@media (max-width: 576px) {
  
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {: no-repeat;
  
}

